body {
    margin: 0;
}
nav
{
    display: flex;
    background-color: rgb(2, 9, 66);
    justify-content: space-between;
    box-shadow: 0 2px 10px black;
    z-index: 10;
    position: fixed;
    width: 100%;
    
}

.nav-title
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin-left: 3rem;
    font-weight: 400;
    color: white;
    
}
.nav-list
{
    display: flex;
    gap: 40px;
    margin-right: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
.hero-header
{

    background-color: black;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: white;

}

.hero-header::before {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 0, 255, 0.3);
    z-index: 1;

}

.hero-content {
    
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 2rem;

}
.hero-title {

    font-size: 70px;
    margin-bottom: 1rem;
    font-weight: 100;
    text-shadow: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-subtitle {

    font-size: 15px;
    opacity: 40%;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.hero-buttons {


    display: flex;
    gap: 12;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;


}

.btn {

    text-decoration: none ;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: 300;   
    transition: all 0.3sec ease;
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.btn-primary {

    background: white;
    color: #020942;

}
.btn-primary:hover {

    background: #f8f9fa;
    transform: translateY(-2px);
    box-shadow: 0 5px px rgba(0,0,0,0.3);
}

.btn-secondary {

    background: transparent;
    color: white;
    border: 2px solid white;
    
}