:root {

    --text-light: black;
    --text-dark: white;

    --bg-nav-light: #5E8F68;
    --bg-main-light: #A8D5A2;
    --bg-footer-light: #4E6B55;
    --bg-hero-dark: #A8D5A2;

    --bg-nav-dark: #24402B;
    --bg-main-dark: #487A42;
    --bg-footer-dark: #1A2E1E;
    --bg-hero-dark: #487A42;
}


html {
    scroll-behavior: smooth;
}



body {
  font-family: 'Open Sans', sans-serif;
}

#scroll-top {

    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    padding: 10px 15px;
    font-size:  18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.;
    color: var(--text-dark);

}

nav {
    background-color: var(--bg-nav-light);
    display: flex;
    align-items: center;
    padding: 1rem;
    height: calc(200px - .5rem);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    
}


.hamburger {

    
    border: none;
    cursor: pointer;
    display: flex;
    
}

.nav-links {

    display: flex;
    gap: 24px;
    padding: 16px 24px;
    margin-left: auto;
    display: none;

}

.nav-links.open {
        display: flex;
    }


@media (min-width: 780px) {

    .hamburger {

        display: none;

    }


    .nav-links {

        display: flex;

    }


}

.color {

    border: none;
    cursor: pointer;

}


.nav-title {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-light);

}



nav a {

    text-decoration: none;
    color: var(--text-light);

}

.nav-image {
    position: absolute;
    left: 1rem; 
    top: 50%;
    transform: translateY(-50%)
}


.hero {

    background-color: var(--bg-main-light);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.9);
    

}

.hero-row1 {

    display: flex;
    padding: 1rem;
    gap: 1rem;


}

.hero-row2 {

    
    padding: 1rem;
    display: flex;
    gap: 1rem;
    
}

.hero-text {
    
    font-size: 20px;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);

    
}

main {

    background-color: var(--bg-main-light);

}

.main-image1 {

    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.main-text1 {

    border-radius: 15px;
    padding: 1rem;
    margin: 5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);

}


.main-row1 {

    display: flex;
    margin-left: 6rem;
    margin-right: 3rem;
    margin-top: 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.main-row2 {

    display: flex;
    margin: 1rem;
    margin-right: 6rem;
    margin-left: 3rem;
    margin-top: 9rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.main-text2 {

    margin: 3rem;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);

}

img {

    border-radius: 25px;

}


.hr1 {


    margin-top: 5rem;
    max-width: 100rem;
    height: 1px;
    background-color: black;
    border: none;
    
}

.hr2 {

    margin-top: 2rem;
    max-width: 90rem;
    height: 1px;
    background-color: black;
    border: none;

}


.main-image3 {

    padding-top: 5rem;
    display: flex;
    justify-content: center;

}



.main-row3 {

    margin: 1rem;
    margin-right: 6rem;
    margin-left: 3rem;
    margin-top: 9rem;
    text-align: center;

}

.main-text3 {

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 1rem;


}



.main-row4 {

    margin-left: 7rem;
    margin-right: 7rem;
    padding-bottom: 4rem;
    margin-top: 7rem;

}


.main-image4 {

    display: flex;
    justify-content: center;

}

.main-text4 {

    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    font-size: x-large;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 1rem;

}

footer {

    background-color: var(--bg-footer-light);
    text-align: center;
    font-size: 1.2rem;
    padding: 3rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

p {

    font-size: 1.3rem;
    color: var(--text-light);

}

#Home {
    scroll-margin-top: 250px;
}

#About {
    scroll-margin-top: 250px;
}

#Contact {
    scroll-margin-top: 250px;
}
