nav {
    background-color: #1A3320;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: calc(200px - .5rem);
    text-align: center;
    position: relative
}

.nav-title {

    
    background-color: red;
}

.nav-image {
    position: absolute;
    left: 1rem; 
    top: 50%;
    transform: translateY(-50%)
}


.hero {

    background-color: #2E5E38;
    

}

.hero-row1 {
background-color: #2E5E38;
display: flex;
padding: 1rem;


}

.hero-row2 {

    background-color: #2E5E38;
    padding: 1rem;
    display: flex;
    
}

.hero-text {
    background-color: #224632;;
    font-size: 20px;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    
}

main {

    background-color: aquamarine;

}

.main-image1 {

    background-color: aquamarine;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.main-text1 {

    margin: 5rem;
    text-align: center;

}

.main-row1 {

    display: flex;
    margin: 1rem;
    margin-left: 6rem;
    margin-right: 3rem;
    margin-top: 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.main-row2 {

    display: flex;
    margin: 1rem;
    margin-right: 6rem;
    margin-left: 3rem;
    margin-top: 9rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.main-row-text1 {

    background-color: blue;
    margin: 3rem;
    border-radius: 15px;
    padding: 10px;

}

.main-row-text2 {

    background-color: red;
    margin: 3rem;
    border-radius: 15px;
    padding: 10px;

}

img {

    border-radius: 25px;

}

.hr1 {


    margin-top: 5rem;
    max-width: 100rem;
    height: 1px;
    background-color: black;
    border: none;
    
}

.hr2 {

    margin-top: 2rem;
    max-width: 90rem;
    height: 1px;
    background-color: black;
    border: none;

}


.main-image3 {


    background-color: aquamarine;
    padding-top: 5rem;
    display: flex;
    justify-content: center;

}



.main-row3 {

    margin: 1rem;
    margin-right: 6rem;
    margin-left: 3rem;
    margin-top: 9rem;
    text-align: center;

}

.main-row4 {

    margin-top: 7rem;
    
}


.main-image4 {

    display: flex;
    justify-content: center;

}