nav
{
    display: flex;
    background-color: red;
    justify-content: space-between;
    
    
}

h1
{
    font-family: sans-serif;
    font-size: 3rem;
    
}
ul
{
    display: flex;
    background-color: blue;
    gap: 20px;
    
    
    

    
}